//- Иипортируйте все .pug файлы компонентов
//- Компоненты должны быть описаны через миксины,
//- чтобы иметь к ним доступ в любом месте страницы

include header/header.pug
include footer/footer.pug
include btn/btn.pug
